<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meal</title>
    <h1 style="text-align:center">Meal</h1>
    </br></br>
    <form method = "post">
        <h4 style="text-align:center">Enter Meal Type:</h4>
        <center><input type = "text" id="type" name = "type"></center></br>
        <h4 style="text-align:center">Enter Datetime:</h4>
        <center>
            <label for="month">Month:</label>
            <input type = "text" id="month" name = "month">
            <label for="date">Date:</label>
            <input type = "text" id="date" name = "date">
            <label for="year">Enter Date:</label>
            <input type = "text" id="year" name = "year">
        </center></br>
        <center><input type = "submit" name = "Add" value="Add"></center>
    </form>
</head>
<body>

</body>
</html>