<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diet Record</title>
</head>
<body>
    <h1 style="text-align:center">Name: Cookies</h1>
    <br/><br/><br/>
    {%if data[0] == NULL%}
        <br/><br/>
        <h4 style="text-align:center">
            No meal has been record yet!
        </h4>
    {%else%}
        <table align="center" border="1" cellpadding="5" cellspacing="5">
            <tr style="text-align:center">
                <td>Date</td>
                <td>Meal Type</td>
            </tr>
        {% for row in data %}
            <tr style="text-align:center">
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
            </tr>
        {% endfor %}
    {%endif%}
</table>
    <center><a class="button" href="{{ url_for('addmeal') }}">Add meal</a></center>
</body>
</html>