<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diet Record</title>
</head>
<body>
    <h1 style="text-align:center">Diet Record</h1>
    <br/>
    <p style="text-align:center;font-size:20px;">Pet Name:&nbsp;<span style="color:darksalmon">{{ pet_name }}</span></p>
    <br/><br/>
    {%if info[0] == NULL%}
        <br/><br/>
        <h3 style="text-align:center">
            No meal has been record yet!
        </h3>
        <center><a class="button" href="{{ url_for('addmeal', pet_id = pet_id) }}">Add meal</a></center>
    {%else%}
        <table align="center" border="1" cellpadding="5" cellspacing="5">
            <tr style="text-align:center">
                <td>Date</td>
                <td>Meal Type</td>
                <td>Calories(kcal)</td>
                <td>Health Status</td>
                <td>View Meal</td>
            </tr>

        {% for row in info %}
            <tr style="text-align:center">
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>GOOD.</td>
                <td>
                    <form action='/viewmeal' method='POST'>
                        <input type='hidden' name='meal_id' value="{{ row[0] }}"/>
                        <input class='button' type='submit' value='view'/>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
        </br>
        <center><a class="button" href="{{ url_for('addmeal', pet_id = pet_id) }}">Add meal</a></center>
        </br>
        <p style="text-align:center;font-size:18px;">Diet Summary</p>
        <table align="center" border="1" cellpadding="5" cellspacing="5">
            <tr style="text-align:center">
                <td>Food Name</td>
                <td>Total Weight(g)</td>
                <td>Total Calories(kcal)</td>
            </tr>
            {% for row in statis %}
            <tr style="text-align:center">
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
        {% endfor %}

    {%endif%}
</table>
    </br>
    <center><a class="button" href="{{ url_for('pets') }}"> Back</a></center>
</body>
</html>