<style>
h1 {
    border-bottom: 3px solid black;
    background-color: white;
  }
h4 {
    color: rgb(182, 93, 123);
}
</style>
<div class= 'row'>
    <div class = "col-md-6 col-md-offset-3">
        <form action = "/register" method = 'POST'>
            <h1 style="text-align:center">HOME PAGE</h1>

            {% if session['name'] %}
            <div class = "form-group">
                <label>welcome</label>
                <center><a class="button" href="{{ url_for('setProfile') }}">set my profile</a></center>
                <center><a class="button" href="{{ url_for('profile') }}">view my profile</a></center>
                <center><a class="button" href="{{ url_for('user') }}">other users' info</a></center>
                <center><a class="button" href="{{ url_for('pets') }}">Pets</a></center>
                <center><a class="button" href="{{ url_for('logout') }}">logout</a></center>
            </div>
            {% else %}
            <div class = "form-group">
                <h4 style="text-align:center">Login to dicover more feature</h4>
                <center><a class="button" href="{{ url_for('register') }}">register</a></center>
                <center><a class="button" href="{{ url_for('login') }}">login</a></center>

            </div>
            {%endif%}
        </form>
    </div>
</div>