<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<style>
button { 
    height: 30px; 
    width: 100px; 
    border: none;
    color: white;
    background-color: #4CAF50; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    } 
h1 {
  border-bottom: 3px solid black;
  background-color: white;
}
input {
  border-bottom: 3px solid lightgray;
  background-color: lightgrey;
}
p{
    color: red;
    font-size: 20px;
}
</style>
<body style="text-align:center" >
   <h1 style="text-align:center" >Profile</h1>

<div class= 'row'  border: 0.5rem outset pink; >
    <div class = "col-md-6 col-md-offset-3">
        {% if session['name'] %}
        <form action = "/login" method = 'POST'>
            <div class = "form-group">
                <label>age:</label>
                <input type = 'text' class='form-control' name='email'>
            </div>
            <div class = "form-group">
                <label>gender:</label>
                <input type = 'password' class='form-control' name='password'>
            </div>
            <div class = "form-group">
                <label>city:</label>
                <input type = 'password' class='form-control' name='password'>
            </div>
            <br/>
            <div class = "form-group">
                <button type = 'submit' class='btn bttn-primary'>Login</button>
            </div>
        </form>
        {%else%}
        <p>Login first</p>
        {%endif%}
    </div>
</div>
</body>