<!-- <!DOCTYPE html>  
<html>  
<head>  
<!DOCTYPE html>  
<html>  
<head>  
<title>  Registration Page   </title> 
<body  style="text-align:center">
<form method = 'post'>
<meta name="viewport" content="width=device-width, initial-scale=1">  

 <label for="email"><b>Email</b></label>  
 <br>
 <input type="text" placeholder="Enter Email" name="email" required>  
 <br>
 <label for="psw"><b>Password</b></label>  
 <br>
 <input type="password" placeholder="Enter Password" name="psw" required>  
 <br>
<label for="psw-repeat"><b>Re-type Password</b></label>  
<br>
<input type="password" placeholder="Retype Password" name="psw-repeat" required>  
 <br>
 <button type="submit" class="registerbtn">Sign-up</button>    
</form>  
</body>  
</html>  
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Register</title>
 </head>
 <style>
    button { 
        height: 30px; 
        width: 100px; 
        border: none;
        color: white;
        background-color: rgb(77, 155, 243); 
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        } 
    h1 {
      border-bottom: 3px solid black;
      background-color: white;
    } 
    input {
      border-bottom: 3px solid lightgray;
      background-color: lightgrey;
    }
 
    </style>
 <body style="text-align:center">
    <h1 style="text-align:center">Register</h1>

<div class= 'row'>
    <div class = "col-md-6 col-md-offset-3">
        <form action = "/register" method = 'POST'>
            <div class = "form-group">
                <label>Name:</label>
                <input type = 'text' class='form-control' name='name'>
            </div>
            <div class = "form-group">
                <label>Email:</label>
                <input type = 'text' class='form-control' name='email'>
            </div>
            <div class = "form-group">
                <label>Password:</label>
                <input type = 'password' class='form-control' name='password'>
            </div>
            <br/>
            <div class = "form-group">
                <button type = 'submit' class='btn bttn-primary'>Register</button>
            </div>
        </form>
    </div>
</div>
 </body>